

.col-xs-1, .col-xs-12, .col-xs-8, .col-xs-2  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffc0cb;
    border: 1px solid black;
}

.box {
    display: flex;
    align-items: center;
    min-height: 200px;

}